@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.mypage-sidebar{
    background-color: #F1EFE9;
    align-items: center;
    color : black;
    line-height : 5;
    width: 300px;
    min-height: 788px;
    height: 100%;
    font-size : 18px;
    font-family: 'nanumgothic';
}

.mypage-sidebar-yuj-logo{
    position : relative;
    top: 40%;
}

.sidebar-menu{
    padding: 0px 70px 0px 70px;
}
