@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

.myPageSidebar{
    position : sticky;
    position : -webkit-sticky;
    top: 0;
    background-color: #F1EFE9;
    align-items: center;
    color : black;
    line-height : 5;
    width: 260px;
    height:100vh;
    font-size : 18px;
    font-family: 'nanumgothic';
}

.myPageSidebarYujLogo{
    position : relative;
    width: 100px;
    /* top: 40%; */
}

.sidebarMenu{
    padding: 0px 70px 0px 70px;
    font-size: 14px;
    font-weight: 200;
}
