video {
    width: 100%;
    height: auto;
    float: left;
    cursor: pointer;
}
.streamcomponent div {
    position: absolute;
    /* background: #f8f8f8; */
    /* color: #777777; */
    font-weight: bold;
    border-bottom-right-radius: 4px;
}
p{
    margin: 0;
}

