/* 핸드폰 번호 입력창 숫자 spin버튼 없애기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box-font{
    font-size: 24px;
    font-weight: bold;
}

.info-background-image{
    background-image: url('../../public/assets/infoBackground.png'); /* url사용하니 절대경로 참조가 안되어 직접 assets 접근 */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;
    opacity: 0.7;
}

.info-container{
    width: 605px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}

.profileInput{
    margin-top:16px;
    margin-left: 10px;
}

.myPageInput{
    opacity: 0.7;
    width: 100%;
}

.mypage-save-button{
    color: white;
    width: 120px;
    height: 32px;

}

.dashboard-box{
    /* width: 30%; */
    max-width: 20rem;
    min-width: 20rem;
    height: 27rem;
    min-height:10rem;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    border-color: #EBE8DF;
    margin: 1rem;
}